<div class="format-actions">
  <button
    mat-stroked-button
    color="primary"
    id="bold"
    class="format-action"
    type="button"
    (click)="transformText.emit('bold')"
  >
    <b>B</b>
  </button>
  <button
    mat-stroked-button
    color="primary"
    id="italic"
    class="format-action"
    type="button"
    (click)="transformText.emit('italic')"
  >
    <i>I</i>
  </button>
  <button
    mat-stroked-button
    color="primary"
    id="underline"
    class="format-action"
    type="button"
    (click)="transformText.emit('underline')"
  >
    <u>U</u>
  </button>
</div>
